// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";
// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --light-gary: #959091;
    --white: #fff;
    --light-rose: #FEF6E3;
}

$gradiant:linear-gradient(90deg,
rgba(246, 217, 87, 1) 0%,
rgba(240, 160, 45, 1) 100%);
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

$gradiant-2:linear-gradient(90deg,
rgba(240, 160, 45, 1) 0%,
rgba(246, 217, 87, 1) 100%);
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 15px;
}


/*PRELOADING------------ */

#overlayer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background: $gradiant;
    z-index: 100;
    &::after {
        position: absolute;
        content: '';
        background: url('../images/pattern.png') repeat;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .loder-img {
        position: fixed;
        top: 40%;
        text-align: center;
        width: 100%;
    }
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 3;
    border: 4px solid #Fff;
    top: 50%;
    left: 50%;
    animation: loader 2s infinite ease;
    z-index: 111;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

header {
    background: rgb(246, 217, 87);
    background: $gradiant;
    padding: 20px 0;
    position: relative;
    &::after {
        position: absolute;
        content: '';
        background: url('../images/pattern.png') repeat;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.nav-link:after {
    content: "|";
    margin-left: 10px;
}

.registration {
    background: $gradiant;
    padding: 60px 0;
    position: relative;
    &::after {
        position: absolute;
        content: '';
        background: url('../images/pattern.png') repeat;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .btn-custom {
        background: #521115;
        color: var(--white);
        text-transform: uppercase;
        padding: 30px 50px;
        width: 100%;
        border-radius: 0;
        font-weight: 500;
        position: relative;
        z-index: 100;
        &:hover {
            color: #FBE172;
        }
    }
    .search-box {
        background: #521115;
        padding: 27px 48px 27px;
        width: 100%;
        border-radius: 0;
        position: relative;
        z-index: 200;
        margin-top: 14px;
        .form-control {
            width: 173px;
            height: 34px;
            border-radius: 15px 0px 0px 15px;
            border: none;
            font-size: 12px;
            font-weight: lighter;
        }
        .btn-search {
            background: #F9E562;
            font-size: 14px;
            font-weight: 500;
            border-radius: 0px 15px 15px 0px;
        }
    }
}

.main-content {
    background: var(--light-rose);
    padding: 100px 0;
    position: relative;
    .video {
        position: relative;
        z-index: 1;
        .top {
            background: url("../images/arrow.png") no-repeat center;
            top: 0;
            width: 100%;
            padding: 32px 0;
        }
        .bottom {
            content: '';
            background: url("../images/arrow.png") no-repeat center;
            top: 100%;
            left: 0;
            width: 100%;
            padding: 32px 0;
        }
    }
    .content {
        padding: 105px 90px;
        text-align: right;
        position: relative;
        z-index: 1;
    }
    &::after {
        position: absolute;
        content: '';
        background: url('../images/pattern.png') repeat;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.products {
    padding: 75px 0;
    background-color: #FFE5AC;
    position: relative;
    &::after {
        position: absolute;
        content: '';
        background: url('../images/pattern-2.png') repeat;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .title {
        text-align: center;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            background: url('../images/title-arrow.png') no-repeat center bottom;
            bottom: -10px;
            width: 100%;
            left: 0;
            padding: 20px 0;
        }
        h2 {
            color: #501213;
            text-transform: uppercase;
        }
    }
    .product-item {
        position: relative;
        background: #FBEBC9;
        z-index: 1;
        padding: 0px 30px;
        border-radius: 15px;
        border: #D2BC83 solid 1px;
        margin-bottom: 30px;
        transition: background .5s;
        &:hover {
            background: rgba(251, 235, 201, .5);
            border: #501213 solid 1px;
        }
        .product-title {
            text-align: center;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 500;
            color: #501213;
            text-transform: uppercase;
        }
        .price {
            display: flex;
            font-size: 25px;
            font-weight: 500;
            color: #501213;
            span {
                width: 50%;
                padding: 15px 0;
            }
            .custom-control-label::before,
            .custom-control-label::after {
                top: .6rem;
                width: 1.25rem;
                height: 1.25rem;
            }
            .custom-control-input:checked~.custom-control-label::before {
                color: #fff;
                border-color: #501213;
                background-color: #501213;
            }
        }
    }
}

.btn-custom {
    background-color: #FAA234;
    width: 100%;
    border: #501213 solid 1px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 0;
    margin: 15px auto;
    color: #581300;
}

.btn-custom-2 {
    background: #521115;
    color: var(--white);
    text-transform: uppercase;
    padding: 30px 100px;
    border-radius: 0;
    font-weight: 500;
    position: relative;
    z-index: 1;
}

.title {
    text-align: center;
    position: relative;
    padding: 10px 0;
    margin-bottom: 30px;
    &::after {
        position: absolute;
        content: '';
        background: url('../images/title-arrow.png') no-repeat center bottom;
        bottom: -10px;
        width: 100%;
        left: 0;
        padding: 30px 0;
    }
    h2 {
        color: #501213;
        text-transform: uppercase;
    }
}

.about-content {
    background: var(--light-rose);
    position: relative;
    &::after {
        position: absolute;
        content: '';
        background: url('../images/pattern.png') repeat;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .content {
        padding: 35px 90px;
        text-align: right;
    }
}

.footer {
    background: $gradiant-2;
    padding: 105px 0;
    position: relative;
    &::after {
        position: absolute;
        content: '';
        background: url('../images/pattern.png') repeat;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .widget {
        position: relative;
        z-index: 1;
        font-size: 14px;
        color: #450E00;
        h3 {
            text-transform: uppercase;
            font-size: 18px;
            color: #450E00;
            letter-spacing: .3rem;
            margin-bottom: 20px;
        }
        .nav-link {
            color: #450E00;
        }
        .nav-link:after {
            content: "";
            margin-left: 10px;
        }
        .address {
            display: flex;
            margin-bottom: 15px;
        }
        span {
            i {
                padding-right: 10px;
                font-size: 20px;
            }
        }
    }
}

.copyright {
    background: $gradiant;
    padding: 10px 0;
}

.nav-list {
    height: 10vh;
    display: flex;
    width: 50%;
    justify-content: space-around;
    text-align: center;
    margin-left: auto;
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

// header {
//     position: absolute;
//     width: 100%;
//     height: 100px;
//     z-index: 10;
// }
.navbar {
    z-index: 9;
    .nav-link {
        color: var(--black);
    }
}

.bg-dark {
    background-color: transparent !important;
}

// .rpih-hero {
//     height: 100vh;
//     position: relative;
//     width: 100%;
//     background-color: var(--black);
//     top: 0;
//     z-index: 9;
// }
.globel {
    h1 {
        font-size: 75px;
        line-height: 4.8rem;
        margin: 32px 0 0;
        color: var(--white);
        .pink {
            color: var(--pink);
        }
    }
    p {
        font-size: 20px;
    }
    .line {
        overflow: hidden;
        height: 75px;
        position: relative;
        span {
            position: absolute;
        }
    }
}

.social-media {
    overflow: hidden;
    margin: 0;
    padding: 0;
    li {
        display: inline;
        a {
            color: #450E00;
            font-size: 30px;
            text-align: center;
            &::after {
                content: "|";
            }
            i {
                margin: 0 10px
            }
        }
    }
}

.cptb {
    padding: 100px 90px 100px 40px;
}

.ar-right {
    background: url("../images/arrow.png") no-repeat center;
    top: 0;
    width: 100%;
}

.ar-left {
    content: '';
    background: url("../images/arrow.png") no-repeat center;
    top: 100%;
    width: 100%;
    padding: 32px 0;
}

.free-trial {
    position: relative;
    width: 350px;
    margin: 0 auto;
    background-color: #FAECC9;
    padding: 25px;
    z-index: 1;
    border-radius: 15px;
    border: #D2BC83 solid 1px;
    &::before {
        position: absolute;
        content: '';
        width: 57px;
        height: 100px;
        background: url("../images/left.png") no-repeat center;
        left: -75px;
        top: 20px;
    }
    &::after {
        position: absolute;
        content: '';
        width: 57px;
        height: 100px;
        background: url("../images/right.png") no-repeat center;
        right: -75px;
        top: 20px;
    }
}